* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #32afb2;
  background-color: #222;
  /* background-color: #60b347; */
}

.principal-title {
  display: grid;
  justify-content: center;
  padding-top: 25px;
  /* margin-bottom:  5px; */
}

.main-flex {
  display: flex;
  justify-content: space-around;
}
.reset {
  margin-right: 25px;
}

#select-numbers {
  /* margin-top: 10px; */
  padding: 2px;
  width: 50px;
}

.h2-title {
  margin-top: 15px;
}

/* .btn-primary {
  margin-top: 15px;
  width: 50px;
  height: auto;
} */

.flex-keyboard {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
